<p>about-us works!</p>
<nav>
  <a routerLink="/home">fwafwafw</a>
</nav>
<div class="fa fa-ghost">
</div>
<div class="">
  <div class="">
    <div>
      <i class="color-orange-cvq fa fa-face-grin-stars fa-4x"></i>
    </div>
    <div>
      <button class="btn btn-primary">
        Notifications <span class="badge text-bg-danger">9</span>
      </button>
      <button type="button" class="btn btn-primary">
        Profile <span class="badge badge-light">9</span>
        <span class="sr-only">unread messages</span>
      </button>
    </div>
    <div class="table-container">
      <table class="table table-bordered table-hover table-striped table-responsive-lg ">
        <thead class="table-dark">
          <tr>
            <th colspan="2">Name: </th>
            <th rowspan="2">surname</th>
            <th rowspan="2">blood X</th>
          </tr>
        <tr>
          <th>charadwadwadwadw</th>
          <th>vargas van lobbistain</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-danger">
          <td class="table-success">2</td>
          <td >22</td>
          <td>3</td>
          <td>9</td>
        </tr>
        <tr class="table-primary">
          <td>$843</td>
          <td>$515</td>
          <td>$10015</td>
          <td>$941</td>
        </tr>
        <tr>
          <td>2</td>
          <td>22</td>
          <td>3</td>
          <td>9</td>
        </tr>
        <tr>
          <td>S/. 8243</td>
          <td>S/. 05</td>
          <td>S/. 015</td>
          <td>S/. 01</td>
        </tr>
        <tr>
          <td>S/. 843</td>
          <td>S/. 515</td>
          <td>S/. 10015</td>
          <td>S/. 941</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="wrapper">
        <div>One</div>
        <div>Two</div>
        <div>Three</div>
        <div>Four</div>
        <div>Five</div>
      </div>
    </div>
  </div>
  <div></div>
</div>
